In [38]:
x = 3
y = 3
z = x + y
print(z)

6

In [39]:
i = 1
j = 3
print(i+j)

4

In [40]:
x = 5
print(x)

5

In [41]:
x = x + 1
print(x)

6

In [42]:
num_1 = 1
num_2 = 10
sum_1_2 = num_1 + num_2
print(sum_1_2)

11

In [43]:
x = 10.0
y = 5
z = x + y
print(z)
print(type(z))

15.0
<class 'float'>

In [52]:
x = 2
y = 2
z = x * y
print(z)


r = 2
pi = 3.14
area = pi * r**2
print(area)

4
12.56

In [64]:
name = "Mehtab"
job = "analyst"
longer_string = "My name is " + name +" and I am the "+ job
print(longer_string)

phrase = f"My name is {name} and I am the {job}."
print(phrase)

My name is Mehtab and I am the analyst
My name is Mehtab and I am the analyst.

In [66]:
name = "Mehtab Jabbar"
job_title = "Business Intelligence Analyst"
combined_setence = f"My name is {name} and I work as a {job_title}"
print(combined_setence)

My name is Mehtab Jabbar and I work as a Business Intelligence Analyst

In [68]:
cin_plan = 200
total_pop = 15500
rp10k = (cin_plan / total_pop) * 10000
explanation = f"The rate of cin plans per 10k children is {rp10k}"
print(explanation)

The rate of cin plans per 10k children is 129.03225806451613

In [72]:
phrase = "reverse this phrase"
reversed = phrase[-1::-1]
print(reversed)

esarhp siht esrever

In [76]:
slice_this_phrase = "dog cat racoon"
animal_1 = slice_this_phrase[0:3]
print(animal_1)

animal_2 = slice_this_phrase[4:7]
print(animal_2)

animal_3 = slice_this_phrase[8:14]
print(animal_3)

dog
cat
racoon

In [15]:
num_1 = 1
num_2 = 2.0
name = "Mehtab"
list_1 = [1, 2, 3]
# print(type(list_1))

list_1.append([10, 11])
list_1.extend([3, 4, 5])
print(list_1)


list_index_individual = list_1[4]
print(list_index_individual)

list_slice = list_1[1::2]
print(list_slice)


list_2 = list(range(11))
print(list_2)

[1, 2, 3, [10, 11], 3, 4, 5]
3
[2, [10, 11], 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
num_2 = str(num_2)
print(num_2)

2.0

str

In [20]:
numbers_list = [2,3,4,5,1,6]
print(numbers_list)

numbers_list.sort(reverse=True)
print(numbers_list)

[2, 3, 4, 5, 1, 6]
[6, 5, 4, 3, 2, 1]

In [21]:
dict_1 = {}
print(type(dict_1))

<class 'dict'>

In [32]:
mehtab = {'Name': 'Mehtab',
        'Job title': 'Data Analyst',
        'Hours': 'Too many',
        'Salary': 10}

colours_dict = {'Will':'Teal',
                'Andy': ['Purple', 'Blue'],
                'Annie': 14,
                'Naiomi':{'Monday':'Red',
                           'Sunday':'Orange',
                           'Others':'Black'}}

print(colours_dict)

{'Will': 'Teal', 'Andy': ['Purple', 'Blue'], 'Annie': 14, 'Naiomi': {'Monday': 'Red', 'Sunday': 'Orange', 'Others': 'Black'}}

In [41]:
restaurants = {'KFC': ['Zinger Burger', 'Wings', 'Chips'],
             'Wingstop': 'Chicken Wings',
             'Local Hotel': {'Weekdays': 'Gastro pub food',
                             'Weekends' : 'high tea'}}

print(restaurants)

kfc_food = restaurants['KFC']
print(kfc_food)

restaurants['Kebab Shop'] = 'Kebabs'
print(restaurants)

{'KFC': ['Zinger Burger', 'Wings', 'Chips'], 'Wingstop': 'Chicken Wings', 'Local Hotel': {'Weekdays': 'Gastro pub food', 'Weekends': 'high tea'}}
['Zinger Burger', 'Wings', 'Chips']
{'KFC': ['Zinger Burger', 'Wings', 'Chips'], 'Wingstop': 'Chicken Wings', 'Local Hotel': {'Weekdays': 'Gastro pub food', 'Weekends': 'high tea'}, 'Kebab Shop': 'Kebabs'}

In [50]:
print(restaurants.keys())
print(restaurants.values())

print(restaurants.items())

print('Curry house' in restaurants)
print('Kebab Shop' in restaurants)

restaurants['Corner Shop'] = 'Crisps'
print(restaurants)
print('Corner Shop' in restaurants)

dict_keys(['KFC', 'Wingstop', 'Local Hotel', 'Kebab Shop', 'Corner Shop'])
dict_values([['Zinger Burger', 'Wings', 'Chips'], 'Chicken Wings', {'Weekdays': 'Gastro pub food', 'Weekends': 'high tea'}, 'Kebabs', 'Crisps'])
dict_items([('KFC', ['Zinger Burger', 'Wings', 'Chips']), ('Wingstop', 'Chicken Wings'), ('Local Hotel', {'Weekdays': 'Gastro pub food', 'Weekends': 'high tea'}), ('Kebab Shop', 'Kebabs'), ('Corner Shop', 'Crisps')])
False
True
{'KFC': ['Zinger Burger', 'Wings', 'Chips'], 'Wingstop': 'Chicken Wings', 'Local Hotel': {'Weekdays': 'Gastro pub food', 'Weekends': 'high tea'}, 'Kebab Shop': 'Kebabs', 'Corner Shop': 'Crisps'}
True

In [51]:
import pandas as pd

filepath = 'https://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

header_fake = pd.read_csv(filepath)

In [56]:
#print(header_fake.head(10))
#print(header_fake.tail(10))
print(header_fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2675 entries, 0 to 2674
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CHILD   2675 non-null   int64
 1   SEX     2675 non-null   int64
 2   DOB     2675 non-null   object
 3   ETHNIC  2675 non-null   object
 4   UPN     2675 non-null   object
 5   MOTHER  1 non-null      float64
 6   MC_DOB  1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 146.4+ KB
None

In [62]:
# dict of lists
d_1 = {'col1':[1, 2, 3],
       'col2': ['A', 'B', 'C'],
       'col3': ['foo', 'bar', 'baz']}

df_1 = pd.DataFrame(d_1)
print(df_1)


# list of dicts
df_2 = pd.DataFrame([
    {'column1':1,
     'column2':'A',
     'column3': 'foo'},
    {'column1':2,
     'column2':'B',
     'column3': 'bar'},
    {'column1':3,
     'column2':'C',
     'column3': 'baz'}
    
    ])
print(df_2)

   col1 col2 col3
0     1    A  foo
1     2    B  bar
2     3    C  baz
   column1 column2 column3
0        1       A     foo
1        2       B     bar
2        3       C     baz

In [71]:
employee_data = pd.DataFrame([
    {'Name':'Mehtab',
     'Salary':3,
     'Job Title': 'Data Analyst'},
    {'Name':'Will',
     'Salary':8,
     'Job Title': 'Teacher'},
    {'Name':'John',
     'Salary':5,
     'Job Title': 'no job'}
     ])

print(employee_data)

print(employee_data.info())
print(employee_data.head(1))

print(employee_data['Salary'])
print(employee_data[['Name', 'Job Title']])

     Name  Salary     Job Title
0  Mehtab       3  Data Analyst
1    Will       8       Teacher
2    John       5        no job
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       3 non-null      object
 1   Salary     3 non-null      int64
 2   Job Title  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None
     Name  Salary     Job Title
0  Mehtab       3  Data Analyst
0    3
1    8
2    5
Name: Salary, dtype: int64
     Name     Job Title
0  Mehtab  Data Analyst
1    Will       Teacher
2    John        no job

In [73]:
employee_data['Salary'] = employee_data['Salary'].astype('int')
print(employee_data['Salary'].dtypes)

mean_salary = employee_data['Salary'].mean()
sum_salary = employee_data['Salary'].sum()
max_salary = employee_data['Salary'].max()
min_salary = employee_data['Salary'].min()

print(f'The mean salary is {mean_salary}.')
print(f'The total of salaries is {sum_salary}.')
print(f'The max and min salaries respectively are {max_salary}, {min_salary}.')

int64
The mean salary is 5.333333333333333.
The total of salaries is 16.
The max and min salaries respectively are 8, 3.